
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="card">
        <img src="~/library/img/slider/s2.jpg" style="height:250px;width:100%;" />
    </div>
    <div class="col-9 left">
        <div class="flower-card">
            <div class="flower-card-header">
                <h3>TOP Hoa Bán Chạy 2018</h3>
            </div>
            <div class="flower-card-body">
                <div class="row">
                    <div class="flower-card flower-card-item">
                        <a href="flowerDetail.html">
                            <img src="~/library/img/1.jpg" />
                        </a>
                        <div class=" flower-card-item-info">
                            <a href="flowerDetail.html"><div class="item-name">Hoa Hồng</div></a>

                            <span class="item-saleprice">69.000đ</span>
                            <span class="item-realprice">89.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/2.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Hoa Ly</div>

                            <span class="item-saleprice">56.000đ</span>
                            <span class="item-realprice">70.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/3.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Hoa Cúc</div>

                            <span class="item-saleprice">41.000đ</span>
                            <span class="item-realprice">68.000đ</span>
                            <span class="item-saleper">-40%</span>
                        </div>
                    </div>
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/4.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Hoa Cẩm Chướng</div>

                            <span class="item-saleprice">68.000đ</span>
                            <span class="item-realprice">85.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flower-card">
            <div class="flower-card-header">
                <h3>Hoa đặt trước-Ưu đãi hơn</h3>
            </div>
            <div class="flower-card-body">
                <div class="row">
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/5.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Cẩm Tú Cầu</div>

                            <span class="item-saleprice">61.000đ</span>
                            <span class="item-realprice">76.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/6.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Hoa Mẫu Đơn</div>

                            <span class="item-saleprice">92.000đ</span>
                            <span class="item-realprice">115.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/7.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Hoa Hồng Trắng</div>

                            <span class="item-saleprice">77.000đ</span>
                            <span class="item-realprice">96.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/8.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Hoa Tulip</div>

                            <span class="item-saleprice">60.000đ</span>
                            <span class="item-realprice">75.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flower-card">
            <div class="flower-card-header">
                <h3>Hoa mới nhập hàng</h3>
            </div>
            <div class="flower-card-body">
                <div class="row">
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/9.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Lan Hồ Điệp</div>

                            <span class="item-saleprice">75.000đ</span>
                            <span class="item-realprice">94.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/10.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Hoa Loa Kèn</div>

                            <span class="item-saleprice">78.000đ</span>
                            <span class="item-realprice">98.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/11.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Hoa Sen</div>

                            <span class="item-saleprice">168.000đ</span>
                            <span class="item-realprice">210.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                    <div class="flower-card flower-card-item">
                        <img src="~/library/img/12.jpg" />
                        <div class=" flower-card-item-info">
                            <div class="item-name">Hoa Đồng Tiền</div>

                            <span class="item-saleprice">88.000đ</span>
                            <span class="item-realprice">110.000đ</span>
                            <span class="item-saleper">-20%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<div class="col-3 row right">
    <div class="flower-card">
        <div class="flower-card-header">
            <h4>Hoa Bán Chạy Trong Tuần</h4>
        </div>
        <div class="flower-card-body">
            <div class="flower-card flower-card-item-right">
                <img src="~/library/img/1.jpg" />
                <div class=" flower-card-item-info-right">
                    <div class="item-name-right">Hoa Hồng</div>

                    <span class="item-saleprice">78.000đ</span>
                    <span class="item-realprice">98.000đ</span>
                </div>
            </div>
        </div>
        <div class="flower-card-body">
            <div class="flower-card flower-card-item-right">
                <img src="~/library/img/2.jpg" />
                <div class=" flower-card-item-info-right">
                    <div class="item-name-right">Hoa Ly</div>

                    <span class="item-saleprice">48.000đ</span>
                    <span class="item-realprice">60.000đ</span>
                </div>
            </div>
        </div>
        <div class="flower-card-body">
            <div class="flower-card flower-card-item-right">
                <img src="~/library/img/4.jpg" />
                <div class=" flower-card-item-info-right">
                    <div class="item-name-right">Hoa Cẩm Chướng</div>

                    <span class="item-saleprice">77.000đ</span>
                    <span class="item-realprice">96.000đ</span>
                </div>
            </div>
        </div>
        <div class="flower-card-body">
            <div class="flower-card flower-card-item-right">
                <img src="~/library/img/3.jpg" />
                <div class=" flower-card-item-info-right">
                    <div class="item-name-right">Hoa Cúc</div>

                    <span class="item-saleprice">77.000đ</span>
                    <span class="item-realprice">96.000đ</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flower-card">
        <div class="flower-card-header">
            <h4></h4>
        </div>
        <div class="flower-card-body">
            <div class="flower-card flower-card-item-right">
                <img src="img/28.jpg" alt="">
                <div class=" flower-card-item-info-right">

                </div>
            </div>
        </div>
        <div class="flower-card-body">
            <div class="flower-card flower-card-item-right">
                <img src="img/28.jpg" alt="">
                <div class=" flower-card-item-info-right">

                </div>
            </div>
        </div>
        <div class="flower-card-body">
            <div class="flower-card flower-card-item-right">
                <img src="img/28.jpg" alt="">
                <div class=" flower-card-item-info-right">

                </div>
            </div>
        </div>
        <div class="flower-card-body">
            <div class="flower-card flower-card-item-right">
                <img src="img/28.jpg" alt="">
                <div class=" flower-card-item-info-right">

                </div>
            </div>
        </div>
    </div>

</div>

