
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-8 flower-card">
            <div class=" flower-card-header">
                <h3>Đăng Nhập</h3>
            </div>
            <div class="flower-card-body">
                <form action="">
                    <div class="row form-margin">
                        <div class="col-2"></div>
                        <label class="col-2"><span>Email</span></label>
                        <input class="col-7" type="text" placeholder="Nhập email..." required>
                    </div>
                    <div class="row form-margin">
                        <div class="col-2"></div>
                        <label class="col-2">Mật khẩu</label>
                        <input class="col-7" type="password" placeholder="Nhập mật khẩu..." required>
                    </div>
                    <div class="row form-margin">
                        <div class="col-4"></div>
                        <a class="button col-7">Đăng Nhập</a>
                    </div>
                    <div class="row form-margin">
                        <div class="col-4"></div>
                        <p class="label-b">
                            Quên mật khẩu? nhấn vào
                            <a href="forgetpassword.html">đây</a>
                        </p>
                    </div>
                    <div class="row form-margin">
                        <div class="col-4"></div>
                        <p class="label-b">
                            Đăng kí tài khoản mới? nhấn vào
                            <a href="register.html">đây</a>
                        </p>
                    </div>
                    <div class="row form-margin">
                        <div class="col-4"></div>
                        <p class="label-b">
                            Hoặc đăng nhập bằng:
                            <a href="#" class="social-item "><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social-item "><i class="fab fa-google-plus-square"></i></a>

                        </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</section>

